<h1><%= t('view.user.mypage') %></h1>

<p><%= image_tag @user.icon.url if @user.icon.present? %></p>

<p><%= @user.name %>
<% if @user.nickname.present? %>
  <span>(<%= @user.nickname %>)</span>
<% end %>
</p>
<p><%= @user.email %></p>

<% if @user.room.present? %>
  <p><%= @user.room %><%= t('view.user.room') %></p>
<% end %>


<%= link_to t('view.user.edit'), edit_user_registration_path %>

<hr>
<h2><%= t('view.bulletenboard.bulletenboard') %></h2>
<p><%= t('view.bulletenboard.description') %></p>
<%= link_to t('view.bulletenboard.bulletenboardindex'), bulletin_boards_index_path %>
<br>

<% if @user.role != "apartment_manager" %>
<h2><%= t('view.questonnaire.questonnaire') %></h2>
<p><%= t('view.questonnaire.description') %></p>
<% end %>
<%= link_to t('view.questonnaire.answer'), new_questionnaire_path if @user.role != "apartment_manager" %>

<hr>
<%= link_to t('view.admin.admin'), "/admin" if @user.role != "user" %>