<h1>MyPage</h1>
<p><%= @user.name_ruby %></p>
<p><%= @user.name %></p>
<p><%= @user.room %></p>
<p><%= @user.email %></p>
<p><%= image_tag @user.icon.url if @user.icon.present? %></p>

<%= link_to '編集する', edit_user_registration_path %>

<hr>
<br>
<%= link_to '掲示板', bulletin_boards_index_path %>
<br>
<%= link_to 'アンケート回答', new_questionnaire_path if @user.role != "apartment_manager" %>
<br>

<%= link_to '管理画面', "/admin" if @user.role != "user" %>