<h1><%= t('view.questonnaire.questonnaire') %></h1>

<%= form_with(model: @questionnaire, url: questionnaire_url, local: true) do |form| %>

<% if @questionnaire.errors.any? %>
  <div>
    <h2><%= pluralize(@questionnaire.errors.count, t('view.error.error')) %></h2>
    <ul>
    <% @questionnaire.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= form.label t('view.questonnaire.question1') %>
    <div>
      <%= form.select :question1, Questionnaire.question1s_i18n.keys.map{|k| [I18n.t("enum.questonnaire.question1.#{k}"), k]} %>
    </div>
  </div>
  <hr>

  <div>
    <%= form.label t('view.questonnaire.question2') %>
    <div>
      <%= form.select :question2, Questionnaire.question2s_i18n.keys.map{|k| [I18n.t("enum.questonnaire.question2.#{k}"), k]} %>
    </div>
  </div>
  <hr>

  <div>
    <%= form.label t('view.questonnaire.question3') %>
    <div>
      <%= form.select :question3, Questionnaire.question3s_i18n.keys.map{|k| [I18n.t("enum.questonnaire.question3.#{k}"), k]} %>
    </div>
  </div>
  <br>

  <p class="text-center">
    <%= form.submit t('view.questonnaire.answerbutton'),class: "button" %>
  </p>
<% end %>