<h1><%= t('view.bulletenboard.bulletenboard') %></h1>

<p><%= t('view.bulletenboard.indexdesc') %></p>

<hr>
<% @bulletin_boards.each do |bb| %>
  <%= bb.created_at.strftime('%Y/%m/%d') %>
  <%= link_to bb.title, bulletin_board_path(bb) %>
  <%= link_to bb.memo, bulletin_board_path(bb) %>
  <hr>
<% end %>

<br>
<%= link_to t('view.admin.admin'), "/admin" if @user.role != "user" %>
