<h1><%= t('view.bulletenboard.bulletenboard') %></h1>
<p class="text-center"><%= t('view.bulletenboard.indexdesc') %></p>
<hr>
<% @bulletin_boards.each do |bb| %>
  <%= bb.created_at.strftime('%Y/%m/%d') %>
  <%= link_to bb.title, bulletin_board_path(bb) %>
  <%= link_to bb.memo, bulletin_board_path(bb) if bb.memo.present? %>
  <hr>
<% end %>
<%= paginate @bulletin_boards %>
<br>
<p class="text-center">
  <%= link_to t('view.bulletenboard.new'), new_bulletin_board_path ,class: "button" if @user.role == "chairman" %>
</p>
<br>
<p class="text-center">
  <%= link_to t('view.admin.admin'), "/admin",class: "button" if @user.role != "user" %>
</p>
