<h1><%= t('view.bulletenboard.new') %></h1>
<%= form_with(model: @bulletin_board, url: bulletin_board_url, local: true) do |form| %>

<% if @bulletin_board.errors.any? %>
  <div>
    <h2><%= pluralize(@bulletin_board.errors.count, "エラーがあります") %></h2>
    <ul>
    <% @bulletin_board.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="text-center">
    <%= form.label :title %>
    <div>
      <%= form.text_area :title %>
    </div>
  </div>

  <div class="text-center">
    <%= form.label :content %>
    <div>
      <%= form.file_field :content %>
    </div>
  </div>

  <div class="text-center">
    <%= form.label :memo %>
    <div>
      <%= form.text_area :memo %>
    </div>
  </div>

  <p class="text-center">
    <%= form.submit t('view.bulletenboard.new'),class: "button" %>
  </p>
<% end %>